<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CopyPaste后台管理</title>
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <div id="icon-view" >
      <h3>您好，欢迎使用CopyPaste!</h3>
      <div class="main-content">
            <table>
              <tr>
                <td>模板名称</td>
                <td>模板类型</td>
                <td>模板路径</td>
                <td>关联模板</td>
                <td>所属项目</td>
                <td>操作</td>
              </tr>
              <tbody id="js-table">
                <tr>
                  <td>dandan</td>
                  <td>dandan</td>
                  <td>dandan</td>
                  <td>dandan</td>
                  <td>dandan</td>
                  <td>
                    <a>删除</a>
                    <a>移动</a>
                    <a>关联</a>
                  </td>
                </tr>
              </tbody>
              
            </table>
      </div>
    </div>
    <script src="./jquery.min.js"></script>
    <script src="./main.js"></script>
</body>

</html>